.background-style{
    background-image: url(..//Assets/Background.jpeg);
    width: 100%;
    height: 100%;
    position:absolute;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items:center;
    padding-left: 15%;
    font-family: Arial, Helvetica, sans-serif ;
}

.todo-box{
    width: 15rem;
    height: 30rem;
    background-color:rgb(219, 241, 252);
    border-radius: 2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
}

.todo-actions{
    align-items: center;

}

.title-actions{
    font-size: 2rem;
    margin-bottom: 2rem;
    color: #6B4AD6;

}

.add-title{
    margin-bottom: 0.5rem;
    color: #6B4AD6;
    font-style: italic;
    font-size: smaller;
}
.add-task{
    overflow-x: scroll;
    width: 13rem;
    height: 2rem;
    background-color: white;
    border: 1.5px #6B4AD6 ;
    border-style: solid;
    border-radius: 1rem;
    padding-left: 5%;


}

/* https://www.w3schools.com/cssref/sel_placeholder.php */
::placeholder{         
    font-style: italic;
    font-size: 0.8rem;
    
}

.addition-button{
    width:2rem ;
    height: 2rem;
    border: 1.5px solid transparent;
    margin-top: 0.8rem;
    border-radius: 10%;
    cursor: pointer;
    background-color:#6B4AD6;
    color: rgb(219, 241, 252);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.addition-button:hover {
    background-color: white;
    color: #6B4AD6;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }

.todo-added{
    width: 45rem ;
    padding: 3rem;
    
}

.tasks-title{
    border-bottom: 1px solid #ccc;
    width: 40rem;
    height: 3.5rem;
    color: #6B4AD6; 
    font-size: 2.18rem;
}


li{
    border-bottom: 1px solid #ccc;
    width: 40rem;
    height: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.task-text{
    margin-right: 26rem;
    margin-left: 1rem;
    color: #6B4AD6;

}

.label-check{
    font-size: 11px;
    font-style:italic;
    font-weight: bold;
    color:#6B4AD6;
}
.delete-button{
    margin-right: 1rem;
    margin-left: 1rem;
    width: 5rem;
    margin-top: 0%;
}